body html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    color: #fff;
}

footer > .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8vh;
    padding-top: 8vh;
    padding-bottom: 8vh;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.row1-col {
    display: flex;
    flex-direction: column;
}

.row1-col > * {
    padding: 0;
    margin: 0;
}

.row1-col > ul {
    margin-top: 3vh;
}

ul {
    opacity: 0.7;
}

footer > .row2 {
    display: flex;
    flex-direction: row;
    opacity: 0.7;
    width: 100%;
    justify-content: space-between;
}

.row2 > .left {
    display: flex;
}

.row2 > .right {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
